<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This application was created by trashymuta and it uses data from mapbox.com and darksky.net</p>
    <h1>
        <img src="/img/skepticalhippo.jpg">
    </h1>
        {{>footer}}
</body>

</html>